li{
	list-style: none;
}
#close{
	margin-bottom:5px;
}
ul{
	list-style: none;
}
ul li{
	display: inline;
	padding: 5px;
}
.active{
	background-color: green;
	padding: 4px;
	color:white;
}	
.active:hover{
	color:orange;
	text-decoration: none;
}